.logos {
    display: inline-flex;
}

table {
    max-width: 500px !important;
}
.avatar {
    width:67px !important;
}
.orangehr{
    background-color: rgb(232, 100, 4);
   font-size: 2pt;
}
table { 
    border-collapse: collapse; 
}
.disclaimer{
    
color: gray;word-break: break-word;max-width: 200px;}

.title {
    
color: rgb(232, 100, 4);}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}
