a {
    color: black;
    text-decoration: underline ;
}

a::before {
    content: 🔗;
}
.tocstyle {
  text-transform: capitalize;  
}
li.mainli {
  list-style-type: none !important; 
  font-style: italic !important;
}
li.level3 {
  margin-left: 2em;
}
li.level2 {
  margin-left: 1em;
}
li.level1 {
  margin-left: unset;
}
.notes {
  margin-left: 10em;
  margin-right: 10em;
  color: gray;
}