* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    /* padding: 20px; */
    font-family: Arial;
}

.overlay {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* height: 100%; */
    width: 100%;
    /* z-index: 10; */
    background-color: white;
}

.modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #8ebf42;
    border-radius: 40px;
    text-align: center;
    z-index: 11;
}


/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}


/* Add padding BETWEEN each column (if you want) */

.row,
.row>.column {
    padding: 8px;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide columns by default */
}


/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */

.content {
    /* background-color: white; */
    padding: 10px;
}


/* The "show" class is added to the filtered elements */

.show {
    display: block;
}


/* Style the buttons */

.slidesbtn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}


/* Add a grey background color on mouse-over */

.slidesbtn:hover {
    background-color: #ddd;
}


/* Add a dark background color to the active button */

.slidesbtn.active {
    background-color: #666;
    color: white;
}

.slide {
    max-width: 273px;
    /* background-color: white; */
    border-style: none;
}

.slide button {
    border-style: none;
    background-color: white;
    background: none;
}

.closed {
    display: none;
}

.closebutton {
    float: right;
    background: none;
    border: none;
}

.progtitle1 {
    word-break: break-word;
}

.progdata {
    border-style: solid;
    border-color: lightgrey;
    text-align: left;
}

.progdata .title {
    font-weight: bold;
    font-style: oblique;
vertical-align: top;text-align: left;border-right-color: var(--aol-black);border-right-style: groove;border-right-width: thin;padding-right: 0.5em;}

.program-info {
    margin-left: 5px;
    margin-right: 5px;
}