:root {
     --ifm-color-content: #e3e3e3;
    --ifm-fot-color-base: var(--ifm-color-content);
}

.clf-form .clf-d-submitbutton {

color: #ffffff !important; 
width: 100% !important;
background-color: rgb(234,112,36) !important;
border:none !important;
padding:10px !important;
margin: auto !important;


}
.clf-form, .clf-form * {
color: var(--ifm-font-color-base) !important;
}
