.clf-form .clf-d-submitbutton {
    color: #ffffff !important;
    width: 100% !important;
    background-color: rgb(234, 112, 36) !important;
    border: none !important;
    padding: 10px !important;
    margin: auto !important;
}

.clf-form,
.clf-form * {
    color: #000000 !important;
}

html {
    background-color: transparent !important;
}

.clf-text-italic {
    color: white !important;
}

.clf-form .clf-d-fieldset {
    text-align: left;
    margin: 5px 25px 0 25px !important;
}